div.cleaner{ clear:both; }

/* LAYOUT width */
div.wrapper{width:960px; margin: 0px auto;}
div.wrapper_with_wings{background:url('images/header_line.png'); min-width:960px;margin: 0px auto; }
div.header_bottom_shadow{background:url('images/shadow-bottom.png'); min-width:960px;margin: 0px auto;height:12px;}

/* HEADER*/
div.header{height:100px; padding:0px;margin-bottom:0px;}
/*-moz-box-shadow: 0px 0px 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;*/
div.header_top{height:75px; padding:0px}
div#google_search_menu{float:right;padding-right:5px;}
div#google_search_menu input{ font-size: 10px;}
div#google_search_menu input#q{width: 200px;}
div#google_search_menu input#q{width: 200px;}
/*div#google_search_menu input:focus{border: 2px solid red; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}*/

div.fieldRow textarea {
margin: 0 10px 5px 0;
padding: 4px 4px 4px 4px;
border: 1px solid #D8D8D8;
font-size: 14px;
font-family: Arial, sans-serif;
}

ul.menu {float:left; height:25px;list-style-image: none; list-style-type: none; }
ul.menu li {height:100%;float: left; color:white; margin:0px; padding: 3px 5px;} /*margin: 10px 3px 0px 10px; padding: 0px;} */
ul.menu li.select {height:32px;float: left; background:  white;-moz-border-radius: 3px 3px 0 0;} 

ul.menu li a {font-size: 0.923em;text-decoration:none; color: white; text-shadow: none ; font-weight:bold;} /* border-color: #FEC951;font-weight:bold;*/
ul.menu li.select a {color:#f391b7 !important;} /* font-weight:bold;*/
ul.menu li a:hover {color:yellow;}
ul#head_menu_right{float:right; }
div#logo{float:left}

/*service*/
div.container_service{min-height:450px;}
div.service{padding:2px; }


/* sidebar */
div.advertisement{ width:300px; margin: 0px auto;margin-bottom:5px;}

/* bottom*/
div#bottom {  min-width:960px;margin: 0px auto; height:100px;background:url('images/bottom-line.png');} 
ul.bottom-options{ margin: 0px auto;padding-top:25px;}
ul.bottom-options {float:left; height:25px;list-style-image: none; list-style-type: none; }
ul.bottom-options li {height:100%;float: left; color:white; margin:0px; padding: 3px 5px;} /*margin: 10px 3px 0px 10px; padding: 0px;} */
ul.bottom-options li a {font-size: 0.923em;text-decoration:none; color: #f391b7; text-shadow: none ; } /* font-weight:bold;border-color: #FEC951;font-weight:bold;*/


/**********************************************
  MODAL WINDOW
**********************************************/
/* Z-index of #mask must lower than #boxes .window */
#modal-wrapper {display:none; height: 100%; position: absolute; width: 100%; z-index: 9999; background: transparent;}
  /* the position fixed is necessary to avoid areas without modal when the user does scroll */
#modal-screen { background-color: rgba(0, 0, 0, .2); height: 100%; position: fixed; width: 100%;}
#modal-content {
left: 351px;
right: 351px;
  background-color: white;
  background: -webkit-gradient(linear,left top,left bottom,from(white),to(#EAF0F5));
  background: -moz-linear-gradient(top,white,#FEEDF2);
  width: 563px;
  margin: 180px auto 0;
 position: absolute;

  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
height:300px;
}

