body  {background:white;font:normal 100% Arial, Helvetica, Sans-Serif; color:black;margin:0;}
ul {list-style: none; margin:0; padding:0}
select.classic{height:18px;font-size:11px}
a img{border:0 none}
